{#
/**
 * {{ content.body }}
 * onderstaande om ... toe te voegen aan trimmend body field
 * bij content-type de teaser display moet uiteraard meer
 * ingesteld staan als aantal hieronder
 *
 * bron: http://drupal.stackexchange.com/questions/200304/how-to-trim-body-text-field-body
*/
#}
{% set text = content.body|render|striptags %}

<a href="{{ url }}">
  <div class="tiles news">
    <img src="{{ base_path ~ directory }}/images/html_images/news.png" alt="Personenvervoer Nieuws">
    <div class="mask">
      <h2{{ title_attributes }}>
        {{ label }}
      </h2>
      <p>
        {{ text|length > 50 ? text|slice(0, 50) ~ '...' : text }}
      </p>
      <p>{{ "Lees verder" }}</p>
    </div>

  </div>
</a>




