{# Node Nieuws (display default) #}

{% set classes = [
  'article-full-news',
  ]
%}
<article{{ attributes.addClass(classes) }}>
  <div class="news-full-wrap">
      <div class="news-title">
          {{ title_prefix }}
          {% if not page %}
              <h2{{ title_attributes }}>
                  {{ label }}
              </h2>
          {% endif %}
          {{ title_suffix }}
      </div>

    <div{{ content_attributes }}>
      <div class="pull-left">
        {{ content.field_afbeelding }}
      </div>
      <div class="news-body">
        {{ content.body }}
      </div>
    </div>
  </div>
</article>
