<div id="fb-root"></div>
<!--navgation bar-->
<!--todo de menu linken in een container-->

{% include directory ~ '/templates/partials/navigation.html.twig' %}

<header>
    <div class="container header-container">
        <div class="site_title">
            Personenvervoer De Dierenvriend
        </div>
        <div class="cta">
            <a href="form.html" class="btn">Onmiddellijk reserveren</a>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <main role="main">
            <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
            <div class="col-md-8 main-content">
                {{ page.content }}
            </div><!-- end main-content-->
            <div class="col-md-4 sidebar">
                <!--todo facebook naar include-->
                <div class="fb-page"
                     data-href="https://www.facebook.com/luchthaventransportbilzen.airporttransportbilzen"
                     data-tabs="timeline" data-small-header="false" data-adapt-container-width="true"
                     data-hide-cover="false" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/luchthaventransportbilzen.airporttransportbilzen"
                                class="fb-xfbml-parse-ignore">
                        <a href="https://www.facebook.com/luchthaventransportbilzen.airporttransportbilzen">Luchthaventransport
                            De Dierenvriend</a>
                    </blockquote>
                </div>
            </div>
            <!--end sidebar-->
        </main>
    </div>
</div>
<!--end container-->

<!--Tiles-->
<div class="container tiles-container">
    <div class="row">
        <div class="col-md-3">
            <div class="tiles pets">
                <img src="{{ base_path ~ directory }}/images/html_images/huisdieren.jpg" alt="">
                {% if page.pets %}
                    <div class="mask">
                        {{ page.pets }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-3">
            <div class="tiles reserve">
                <img src="{{ base_path ~ directory }}/images/html_images/reserveren.jpg" alt="">
                {% if page.reserve %}
                    <div class="mask">
                        {{ page.reserve }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-3">
            <div class="tiles rates">
                {% if page.mask %}
                    <div class="mask">
                        {{ page.rates }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-3">
            <div class="tiles news">
                <img src="{{ base_path ~ directory }}/images/html_images/news.png" alt="">
                {% if page.news %}
                    <div class="mask">
                        {{ page.news }}
                        <a href="#">Lees verder</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% include directory ~ '/templates/partials/footer.html.twig' %}
