<div id="fb-root"></div>

{#Navigatie#}
{% include directory ~ '/templates/partials/navigation.html.twig' %}

<header>
  <div class="container header-container">
    {{ page.header }}
  </div>
</header>
<div class="container">
  <div class="row">
    <main role="main">
      <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
      <div class="col-md-8 main-content">
        {{ page.content }}
      </div><!-- end main-content-->
      {#
      /**
       * sidebar wordt enkel gebruikt voor de facebook bijdrage te tonen op elke pagina
      */
      #}
      <div class="col-md-4 sidebar">

        <div class="fb-page"
             data-href="https://www.facebook.com/luchthaventransportbilzen.airporttransportbilzen"
             data-tabs="timeline" data-small-header="false" data-adapt-container-width="true"
             data-hide-cover="false" data-show-facepile="true">
          <blockquote cite="https://www.facebook.com/luchthaventransportbilzen.airporttransportbilzen"
                      class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/luchthaventransportbilzen.airporttransportbilzen">Luchthaventransport
              De Dierenvriend</a>
          </blockquote>
        </div>
      </div>
      {# end sidebar #}
    </main>
  </div>
</div>
{# end container #}

<!--Tiles-->
<div class="container tiles-container">
  <div class="row">
    {# node--huisdieren--teaser.html.twig #}
    <div class="col-md-3">
      {{ page.pets }}
    </div>

    {# link naar form vervoer aanvraag, inhoud van deze tegel kan niet aangepast door de editor #}
    <div class="col-md-3">
      <a href="{{ base_path }}aanvraag-vervoer">
        <div class="tiles reserve">
          <img src="{{ base_path ~ directory }}/images/html_images/reserveren.jpg"
               alt="Personenvervoer vervoeraanvraag">
          {% if page.reserve %}
            <div class="mask">
              {{ page.reserve }}
            </div>
          {% endif %}
        </div>
      </a>
    </div>

    {# ook deze tegel is niet aagepast door de editor #}
    <div class="col-md-3">
      <a href="{{ base_path }}tarieven">
        <div class="tiles rates">
          <img src="{{ base_path ~ directory }}/images/html_images/dollars.jpg" alt="Personenvervoer tarieven">
          {% if page.rates %}
            <div class="mask">
              {{ page.rates }}
            </div>
          {% endif %}
        </div>
      </a>
    </div>

    {#
    /**
     * inhoud door views laatste nieuwsbericht, enkel deel content.body
    */
    #}
    <div class="col-md-3">
        {{ page.news }}
    </div>
  </div> {# end .row #}
</div>
{# end .container #}

{% include directory ~ '/templates/partials/footer.html.twig' %}

<div class="modal-container">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-1 custom-modal">
        <div class="close-button"><i class="fa fa-times"></i></div>
        <div class="content-modal">
          <div class="modal-body">
            {{ page.conditions }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>